name: CI on Dev Branch

on:
  push:
    branches:
      - dev

permissions:
  contents: write
  pull-requests: write
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Fix Jest permissions
        run: chmod +x node_modules/.bin/jest

      - name: Run tests
        run: npm test

      - name: Create Pull Request to Main
        if: success()
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "dev"
          destination_branch: "main"
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          pr_title: "Auto PR from Dev to Main"
          pr_body: "This PR was created automatically after sucessful CI"
