name: CI on Dev Branch

on:
  push:
    branches:
      - dev

permissions:
  contents: write
  pull-requests: write
  
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Fix Jest permissions
        run: chmod +x node_modules/.bin/jest

      - name: Run tests
        run: npm test

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          base: main
          head: dev
          title: "Auto PR from Dev to Main"
          body: "This PR was created automatically after sucessful CI"
          branch: auto-pr-dev # Optional: name for the PR branch
          labels: "automated"
          draft: false
